$body-bg:grey;
$font-size-base: 30;
$body-color:purple;
$font-family-sans-serif: georgia;
$font-family: monospace;
$spacer: 5;

 //$theme-colors: #333333;
// $input-placeholder-color:  green;             
 // $input-plaintext-color:  green;
// $table-dark-color: green;


// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';